:root {
  --dark: #16191c;
  --dark-x: #1e2126;
  --dark-y: #696c72;
  --light: #ffffff;
}

body {
  background: rgb(250, 246, 246);
  margin: 0;
  padding: 0;
  height: 100vh;
  font-family: "Open Sans", sans-serif;
}
.container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
}

h1 {
  color: brown;
  font-size: 28px;
  padding: 20px;
}

button {
  margin-bottom: 70px;
  padding: 12px 22px;
  border-radius: 15px;
  border: double rgb(215, 247, 215);
  background: rgb(233, 81, 81);
  color: white;
}

@media screen and (max-width: 630px) {
  h1 {
    font-size: 16px;
  }
}

/*Estilos para el Login*/

.bg-dark {
  background-color: var(--dark) !important;
}

.letras {
  font-family: "Spartan", sans-serif;
  font-weight: 300;
  color: var(--light) !important;
  font-weight: bold;
  text-align: left;
}

.letras1 {
  font-size: 25px;
  font-family: "Spartan", sans-serif;
  color: var(--light) !important;
  font-weight: bold;
  text-align: left;
}

.bg-dark-x {
  background-color: var(--dark-x);
}

.form-control,
btn {
  min-height: 2.125rem;
  line-height: initial !important;
  padding: 6px !important;
}

.letra-boton {
  font-size: 14px;
}

.text-p {
  font-size: 15px !important;
  color: var(--light);
}

.text-a {
  font-size: 16px !important;
  color: var(--light);
}

.img-1 {
  background-image: url(/img/login3.jpg);
  background-size: cover;
  background-position: center;
}
.img-2 {
  background-image: url(/img/bateria.jpg);
  background-size: cover;
  background-position: center;
}
.letra-slider {
  color: white !important;
  font-family: "Spartan", sans-serif !important;
}
